<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
This is a <p>index</p>
</body>
<script>
    $.ajax({
        type: "POST",
        url: "/selectSpots/submitSelectedSpots",
        data: {
            date: ['01/01/2017', '01/03/2017'],
            spots_id: ['5877149aa7c709a8e057e9ea', '5877149aa7c709a8e057e9eb', '5877149aa7c709a8e057e9ec', '5877149aa7c709a8e057e9ed', '5877149aa7c709a8e057e9ef', '5877149aa7c709a8e057e9f0', '5877149aa7c709a8e057e9f1', '5877149aa7c709a8e057e9f2', '5877149aa7c709a8e057e9f3']
        },
//        url: "http://127.0.0.1:5000/selectSpots/getAllSpots",
//        data: {
//            cityName: "上海"
//        },
        success: function (data) {
            console.log(data);
        }
    })
</script>
</html>
